@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Areas.Administration.Models.Project.UpdateUserPermissionModel

@{
    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Head {
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
}

<div class="row">
    <div class="col-lg-6">
        <div class="card bg-light">
            <div class="card-body">
                @using (Html.BeginForm("UpdateUserPermission", "Project", FormMethod.Post, new { @class = "frm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("_ValidationSummary")

                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.ToProjects)

                    <h6 class="card-title">@ViewBag.Caption</h6>

                    <table class="table table-sm bg-white">
                        <tr>
                            <th>User</th>
                            <th>Permissions</th>
                        </tr>

                        @foreach (var row in ViewBag.DataSet.Tables[0].Rows)
                        {
                            <tr>
                                <td>@row["us_username"]</td>
                                <td>
                                    <label>@Html.RadioButton($"Permission[{row["us_id"]}]", "0", (int)row["pu_permission_level"] == 0)&nbsp;none</label>
                                    <label>@Html.RadioButton($"Permission[{row["us_id"]}]", "1", (int)row["pu_permission_level"] == 1)&nbsp;view only</label>
                                    <label>@Html.RadioButton($"Permission[{row["us_id"]}]", "3", (int)row["pu_permission_level"] == 3)&nbsp;report (add and comment only)</label>
                                    <label>@Html.RadioButton($"Permission[{row["us_id"]}]", "2", (int)row["pu_permission_level"] == 2)&nbsp;all (add and edit)</label>
                                </td>
                            </tr>
                        }
                    </table>

                    <button type="submit" class="btn btn-success">Update</button>

                    if (Model.ToProjects)
                    {
                        <a href="@Url.Action("Index")" class="btn btn-link">Cancel</a>
                    }
                    else
                    {

                        <a href="@Url.Action("Update", new { id = Model.Id })" class="btn btn-link">Cancel</a>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_footer"])
}
