@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Models.SortableTableModel

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";

    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src=" ~/Scripts/sortable.js"></script>
    <script>
        function body_on_load() {
            // TODO investigate
            opener.set_task_cnt(@Model.DataSet.Tables[0].Rows.Count);
        }

        $(function () {
            body_on_load();
        });
    </script>
}

@section BodyHeader {
    @Html.Partial("~/Areas/Administration/Views/Shared/_MainMenu.cshtml", page)
}

@section BodySubHeader {
    @if (ViewBag.ShowToolbar)
    {
        <div class="nav-scroller bg-light border-bottom">
            <nav class="nav nav-underline">
                <a href="@Url.Action("Create", "Task", new { bugId = ViewBag.BugId })" class="nav-link" title="Add new task"><img src="~/Content/images/add.png" align="top">&nbsp;New</a>
                <a href="@Url.Action("Index", "Task")" target="_blank" class="nav-link" title="View all tasks">View All</a>
                <a href="@Url.Action("Export", "Task")" target="_blank" class="nav-link" title="Export all tasks to excel"><img src="~/Content/images/database.png" align="top">&nbsp;Export</a>
            </nav>
        </div>
    }
}

@if (ViewBag.BugId != null)
{
    <h5>Tasks for bug @ViewBag.BugId</h5>
}
else
{
    <h5>All Tasks</h5>
}


@if (Model.DataSet.Tables[0].Rows.Count > 0)
{
    @Html.Partial("_SortableTable", Model);
}
else
{
    <div>No tasks.</div>
}

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_footer"])
}
