@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Core
@using BugTracker.Web.Models
@model BugTracker.Web.Models.SortableTableModel

@{
    var page = (PageModel) ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/sortable.js"></script>

    <script>
        function filter_changed() {
            el = document.getElementById("Filter");

            if (el.value != "") {
                el.style.background = "yellow";
            } else {
                el.style.background = "white";
            }
        }

        document.addEventListener("DOMContentLoaded", filter_changed);
    </script>
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
    <div class="nav-scroller bg-light border-bottom">
        <nav class="nav nav-underline">
            <a href="@Url.Action("Create", "User")" class="nav-link"><img src="~/Content/images/add.png" align="top">&nbsp;New</a>
        </nav>
    </div>
}

<div class="row px-3 mb-3">
    @using (Html.BeginForm("Index", "User", new {area = "Administration"}, FormMethod.Post, new {@class = "form-inline ml-auto"}))
    {
        @Html.AntiForgeryToken()

        @Html.Label("Filter", "Show only usernames starting with:", new {@class = "mr-sm-2"})
        @Html.TextBox("Filter", (string) ViewBag.Filter, new {type = "search", @class = "form-control mb-2 mr-sm-2", onkeyup = "filter_changed()", style = "color: red;"})

        <div class="form-check mb-2 mr-sm-2">
            @Html.CheckBox("HideInactive", (bool) ViewBag.HideInactive, new {@class = "form-check-input"})
            @Html.Label("HideInactive", "hide inactive users:", new {@class = "form-check-label"})
        </div>

        <input type="submit" class="btn btn-primary mb-2" value="Apply">
    }
</div>

@if (Model.DataTable.Rows.Count > 0)
{
    @Html.Partial("_SortableTable", Model)
    ;
}
else
{
    <div>No users to display.</div>
}

@section BodyFooter {
    @Html.Raw(Util.Context.Application["custom_footer"])
}