@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Models
@model BugTracker.Web.Areas.Administration.Models.CustomField.DeleteModel

@{
    var page = (PageModel) ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
}

@using (Html.BeginForm("Delete", "CustomField", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ValidationSummary")

    @Html.HiddenFor(x => x.Id)

    <h5>Confirm deletion of custom field</h5>

    <div class="form-group">
        @Html.LabelFor(x => x.Name): @Model.Name
        @Html.HiddenFor(x => x.Name)
    </div>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-link">Cancel</a>
}

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.CustomFooterHtml)
}