@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Core
@using BugTracker.Web.Models
@model BugTracker.Web.Areas.Administration.Models.CustomField.UpdateModel

@{
    var page = (PageModel) ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
}

<div class="row">
    <div class="col-lg-6">
        <div class="card bg-light">
            <div class="card-body">
                @using (Html.BeginForm("Update", "CustomField", FormMethod.Post, new {@class = "frm"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("_ValidationSummary")

                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Name)
                    @Html.HiddenFor(x => x.DefaultValue)
                    @Html.HiddenFor(x => x.DefaultName)
                    @Html.HiddenFor(x => x.DropdownType)

                    <div class="form-group">
                        @Html.LabelFor(x => x.Name):
                        <div class="form-control-plaintext">@Model.Name</div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Default):
                        @Html.TextBoxFor(x => x.Default, new {@class = "form-control", maxlength = "50", size = "50"})
                        @Html.ValidationMessageFor(x => x.Default, null, new {@class = "text-danger"}, "small")
                    </div>

                    if (Model.DropdownType == "normal")
                    {
                        <div class="form-group">
                            @Html.LabelFor(x => x.DropdownValues):
                            @Html.TextAreaFor(x => x.DropdownValues, new {@class = "form-control", rows = "6", cols = "60"})
                            @Html.ValidationMessageFor(x => x.DropdownValues, null, new {@class = "text-danger"}, "small")
                            <small class="form-text text-muted">
                                Use the following if you want the custom field to be a "normal" dropdown.
                                <br>
                                Create a pipe seperated list of values as shown below.
                                <br>
                                No individiual value should be longer than the length of your custom field.
                                <br>
                                Don't use commas, &gt;, &lt;, or quotes in the list of values.
                                <br>
                                Line breaks for your readability are ok.
                                <br>
                                Here are some examples:
                                <br>
                                "1.0|1.1|1.2"
                                <br>
                                "red|blue|green"
                                <br>
                                It's ok to have one of the values be blank:<br>
                                "|red|blue|green"
                            </small>
                        </div>
                    }

                    <div class="form-group">
                        @Html.LabelFor(x => x.SortSequence):
                        @Html.TextBoxFor(x => x.SortSequence, new {@class = "form-control", maxlength = "2", size = "2"})
                        @Html.ValidationMessageFor(x => x.SortSequence, null, new {@class = "text-danger"}, "small")
                        <small class="form-text text-muted">Controls what order the custom fields display on the page.</small>
                    </div>

                    <button type="submit" class="btn btn-success">Update</button>
                    <a href="@Url.Action("Index")" class="btn btn-link">Cancel</a>
                }
            </div>
        </div>
    </div>
</div>

@section BodyFooter {
    @Html.Raw(Util.Context.Application["custom_footer"])
}