@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Models.Account.ForgotModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

<div class="p-3 mx-auto w-100 flex-grow-1" style="max-width: 360px;">
    <h1 class="h3 mb-3 font-weight-normal text-center">@Html.Raw(BugTracker.Web.Core.Util.CustomLogoHtml)</h1>

    <div class="card mr-auto ml-auto">
        <div class="card-body">
            @using (Html.BeginForm("Forgot", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_ValidationSummary")

                <div class="form-group">
                    @Html.LabelFor(x => x.Login):
                    @Html.TextBoxFor(x => x.Login, new { @class = "form-control", maxlength = "20", size = "20" })
                    @Html.ValidationMessageFor(x => x.Login, null, new { @class = "text-danger" }, "small")
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Email):
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", maxlength = "20", size = "20" })
                    @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" }, "small")
                </div>

                <button type="submit" class="btn btn-primary">Send password info to my email</button>
            }
        </div>
    </div>

    <ul class="list-unstyled p-3">
        <li>
            <a href="@Url.Action("Login", "Account")">Return to login page</a>
        </li>
    </ul>
</div>

@section BodyFooter {
}
