@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Areas.Administration.Models.Status.EditModel

@{
    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
}

<div class="row">
    <div class="col-lg-6">
        <div class="card bg-light">
            <div class="card-body">
                @using (Html.BeginForm(Model.Id == 0 ? "Create" : "Update", "Status", FormMethod.Post, new { @class = "frm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("_ValidationSummary")

                    @Html.HiddenFor(x => x.Id)

                    <div class="form-group">
                        @Html.LabelFor(x => x.Name):
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", maxlength = "30", size = "30" })
                        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" }, "small")
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.SortSequence):
                        @Html.TextBoxFor(x => x.SortSequence, new { @class = "form-control", maxlength = "2", size = "2" })
                        <small class="form-text text-muted">Sort Sequence controls the sort order in the dropdowns.</small>
                        @Html.ValidationMessageFor(x => x.SortSequence, null, new { @class = "text-danger" }, "small")
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Style):
                        <a href="@Url.Action("EditStyles", "Home")" target="_blank" class="float-right">more CSS info...</a>
                        @Html.TextBoxFor(x => x.Style, new { @class = "form-control", maxlength = "10", size = "10" })
                        <small class="form-text text-muted">CSS Class can be used to control the look of lists. See the example queries.</small>
                        @Html.ValidationMessageFor(x => x.Style, null, new { @class = "text-danger" }, "small")
                    </div>

                    <div class="form-group form-check">
                        @Html.CheckBoxFor(x => x.Default, new { @class = "form-check-input" })
                        @Html.LabelFor(x => x.Default, new { @class = "form-check-label" })
                        @Html.ValidationMessageFor(x => x.Default, null, new { @class = "text-danger" }, "small")
                    </div>

                    <button type="submit" class="btn btn-success">@(Model.Id == 0 ? "Create" : "Update")</button>
                    <a href="@Url.Action("Index")" class="btn btn-link">Cancel</a>
                }
            </div>
        </div>
    </div>
</div>

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_footer"])
}
