@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Core
@using BugTracker.Web.Models
@model BugTracker.Tracking.Querying.Statuses.IStatusListResult

@{
    var page = (PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
    <div class="nav-scroller bg-light border-bottom">
        <nav class="nav nav-underline">
            <a href="@Url.Action("Create", "Status")" class="nav-link"><img src="~/Content/images/add.png" align="top">&nbsp;New</a>
            <a href="@Url.Action("EditStyles", "Home")" class="nav-link" target="_blank">Styles</a>
        </nav>
    </div>
}

@(Html
    .Grid("MvcGrid/_GridBootstrap4", Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id)
            .Titled("id");

        columns.Add(model => model.Name)
            .Titled("name");

        columns.Add(model => model.SortSequence)
            .Titled("sort seq")
            .InitialSort(GridSortOrder.Asc);

        columns.Add(model => model.Style)
             .Titled("css<br>class");

        columns.Add(model => model.Default)
            .Titled("default")
            .RenderedAs(model => model.Default == 1 ? "Y" : "N");

        columns.Add(model => Html.ActionLink("edit", "Update", new { id = model.Id }))
            .Titled("edit");

        columns.Add(model => Html.ActionLink("delete", "Delete", new { id = model.Id }))
            .Titled("delete");
    })
    .Empty("No statuses in the database.")
    //.UsingProcessingMode(GridProcessingMode.Manual)
    .Sortable()
    //.Pageable()
)

@section BodyFooter {
    @Html.Raw(Util.Context.Application["custom_footer"])
}