@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Models
@model BugTracker.Web.Areas.Administration.Models.Home.EditWebConfigModel

@{
    var page = (PageModel) ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src=" ~/Scripts/edit_area/edit_area_full.js"></script>

    <script>
        editAreaLoader.init({
            id: "myedit", // id of the textarea to transform
            start_highlight: true, // if start with highlight
            toolbar: "search, go_to_line, undo, redo, help",
            browsers: "all",
            language: "en",
            syntax: "sql",
            allow_toggle: false,
            min_width: 800,
            min_height: 400
        });
    </script>
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
}

@using (Html.BeginForm("EditWebConfig", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ValidationSummary")

    @Html.TextAreaFor(x => x.Text, new {id = "myedit", style = "width: 100%"})
    <p></p>

    <button type="submit" class="btn btn-danger">Save</button>
    <small class="text-danger border border-danger">Be careful! Web.config is easy to break!</small>
}

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.CustomFooterHtml)
}