@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Core
@using BugTracker.Web.Models
@model BugTracker.Web.Areas.Administration.Models.Home.EditCustomHtmlModel

@{
    var page = (PageModel) ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/edit_area/edit_area_full.js"></script>

    <script>
        editAreaLoader.init({
            id: "myedit", // id of the textarea to transform
            start_highlight: true, // if start with highlight
            toolbar: "search, go_to_line, undo, redo, help",
            browsers: "all",
            language: "en",
            syntax: "sql",
            allow_toggle: false,
            min_width: 800,
            min_height: 400
        });

        function load_custom_file() {
            var sel = document.getElementById("which");
            window.location =
                "@Url.Action("EditCustomHtml", "Home")" + "?which=" + sel.options[sel.selectedIndex].value;
        }
    </script>
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
}

<div class="row">
    <div class="col-lg-6">
        <table style="width: 100%;">
            <tr>
                <td>
                    @using (Html.BeginForm("EditCustomHtml", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Partial("_ValidationSummary")

                        @:Select custom html file:
                        @Html.DropDownListFor(x => x.Which, new List<SelectListItem>
                        {
                            new SelectListItem
                            {
                                Text = "btnet_custom.css",
                                Value = "css"
                            },
                            new SelectListItem
                            {
                                Text = "customer_footer.html",
                                Value = "footer"
                            },
                            new SelectListItem
                            {
                                Text = "customer_header.html",
                                Value = "header"
                            },
                            new SelectListItem
                            {
                                Text = "customer_logo.html",
                                Value = "logo"
                            },
                            new SelectListItem
                            {
                                Text = "customer_welcome.html",
                                Value = "welcome"
                            }
                        }, new {id = "which", onchange = "load_custom_file()"})
                        <p></p>

                        @Html.TextAreaFor(x => x.Text, new {id = "myedit", style = "width: 100%"})
                        <p></p>

                        <button type="submit" class="btn btn-primary">Save</button>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>

@section BodyFooter {
    @Html.Raw(Util.Context.Application["custom_footer"])
}