@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@using BugTracker.Web.Models
@model BugTracker.Web.Areas.Administration.Models.Home.QueryModel

@{
    var page = (PageModel) ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
    <script type="text/javascript" src="~/Scripts/sortable.js"></script>

    <script>
        var shown = true;

        function showhide_form() {
            var frm = document.getElementById("card");

            if (shown) {
                frm.style.display = "none";
                shown = false;
                showhide.firstChild.nodeValue = "Show form";
            } else {
                frm.style.display = "block";
                shown = true;
                showhide.firstChild.nodeValue = "Hide form";
            }
        }

        function on_dbtables_changed() {
            var tablesSel = document.getElementById("dbtables_select");

            selected_text = tablesSel.options[tablesSel.selectedIndex].text;

            if (selected_text != "Select Table") {
                document.getElementById("queryText").value = "select * from " + selected_text;
            }
        }
    </script>
}

@section BodyHeader {
    @Html.Partial("_MainMenu", page)
}

@section BodySubHeader {
    <div class="nav-scroller bg-light border-bottom">
        <nav class="nav nav-underline">
            <a href="javascript:showhide_form()" id="showhide" class="nav-link">Hide form</a>
        </nav>
    </div>
}

<div class="row">
    <div class="col-lg-6">
        <div class="alert alert-danger" role="alert">
            This page is not safe on a public web server. After you install BugTracker.NET on a public web server, please delete it.
        </div>

        <div class="form-group">
            @Html.DropDownList("DbTables", (List<SelectListItem>) ViewBag.DbTables, new {id = "dbtables_select", onchange = "on_dbtables_changed()"})
        </div>

        <div class="card bg-light" id="card">
            <div class="card-body">
                @using (Html.BeginForm("Query", "Home", FormMethod.Post, new {id = "frm", @class = "frm"}))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label>Or enter SQL:</label>
                        @Html.TextAreaFor(x => x.Text, new {id = "queryText", @class = "form-control", rows = "15", cols = "70"})
                    </div>

                    <button type="submit" class="btn btn-primary">Execute SQL</button>
                }
            </div>
        </div>

        @if (!string.IsNullOrEmpty(ViewBag.ExceptionMessage))
        {
            <span class=err>@ViewBag.ExceptionMessage</span>
            <br>
        }
    </div>
</div>

@if (ViewBag.Table != null && ViewBag.Table.DataTable.Rows.Count > 0)
{
    @Html.Partial("_SortableTable", (SortableTableModel) ViewBag.Table)
}
else
{
    <span>No Rows</span>
}

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.CustomFooterHtml)
}