@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Models.Report.DashboardModel

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";

    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
    <style>
        iframe {
            height: 320px;
        }
    </style>
}

@section Scripts {
}

@section BodyHeader {
    @Html.Partial("~/Areas/Administration/Views/Shared/_MainMenu.cshtml", page)
}

@section BodySubHeader {
    @if (!page.Security.User.IsGuest) /* no dashboard */
    {
        <div class="nav-scroller bg-light border-bottom">
            <nav class="nav nav-underline">
                <a href="@Url.Action("EditDashboard", "Report")" class="nav-link">Edit</a>
            </nav>
        </div>
    }
}

@helper WriteColumn(int column)
{
    var iframeId = 0;

    foreach (System.Data.DataRow dr in Model.DataSet.Tables[0].Rows)
    {
        if ((int)dr["ds_col"] == column)
        {
            if ((string)dr["ds_chart_type"] == "data")
            {
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <iframe frameborder="0" src="@Url.Action("Show", "Report", new { id = dr["ds_report"], view = "data" })" class="w-100"></iframe>
                    </div>
                </div>
            }
            else
            {
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <img src="@Url.Action("Show", "Report", new { id = dr["ds_report"], view = dr["ds_chart_type"], scale = 2 })">
                    </div>
                </div>
            }
        }
    }
}

<div class="row">
    <div class="col">
        @WriteColumn(1)
    </div>

    <div class="col">
        @WriteColumn(2)
    </div>

    <div class="col">
        @WriteColumn(3)
    </div>
</div>

@section BodyFooter {
    @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_footer"])
}
