@*
    Copyright 2002-2011 Corey Trager
    Copyright 2017-2019 Ivan Grek

    Distributed under the terms of the GNU General Public License
*@

@model BugTracker.Web.Models.Account.ChangePasswordModel

@{
    var page = (BugTracker.Web.Models.PageModel)ViewBag.Page;

    ViewBag.Title = page.Title;
}

@section Styles {
}

@section Scripts {
}

@section BodyHeader {
    <table style="border-spacing: 0;">
        <tr>
            @Html.Raw(BugTracker.Web.Core.Util.Context.Application["custom_logo"])
        </tr>
    </table>
}

<div style="width: 300px; margin: 0 auto;">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "frm" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_ValidationSummary")

        @Html.HiddenFor(x => x.Id)

        <div style="margin-bottom: 10px;">
            <div class="lbl" style="margin-bottom: 5px;">New Password:</div>
            <div>
                @Html.TextBoxFor(x => x.Password, new { @class = "txt", type = "password", style = "box-sizing: border-box; width: 100%;" })
            </div>

            <div class="err">
                @Html.ValidationMessageFor(x => x.Password)
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <div class="lbl" style="margin-bottom: 5px;">Reenter Password:</div>
            <div>
                @Html.TextBoxFor(x => x.ConfirmedPassword, new { @class = "txt", type = "password", style = "box-sizing: border-box; width: 100%;" })
            </div>

            <div class="err">
                @Html.ValidationMessageFor(x => x.ConfirmedPassword)
            </div>
        </div>

        <div style="text-align: right;">
            <input class="btn" type="submit" value="Send password info to my email" />
        </div>
    }

    <div>
        <p>
            <a href="~/Account/Login">Return to login page</a>
        </p>
    </div>
</div>

@section BodyFooter {
}
